.single-sermon-header
    background-color: black
    padding: 8rem 0 7rem 0

    .hero-background-wrapper
       
       
        
        .hero-background
            height: 850px
            display: flex
            align-items: center
            justify-content: center
            +mobile
                height: 550px
           
            .sermon-play-button
                svg
                    cursor: pointer
                    width: 117px
                    height: 117px

.single-sermon-middle
    background: black
    .content
        .sermon-data
            display: flex
            flex-wrap: wrap
            padding: 4rem 0
            border-top: 1px solid rgba(255,255 ,255 ,0.5 )
            
            .sermon-title
                width: 50%
                padding: 2rem
                +mobile
                    width: 100%

                h2
                    font-family: $family-heading
                    font-size: 6rem
                    text-transform: uppercase
                    margin-bottom: 2rem
                    line-height: 0.85
                    color: white
                    +mobile
                        font-size: 4rem

                    
                    .title-orange
                        color: #F4B468
                p 
                    font-weight: 600
                    color: white
            .description
                width: 50%
                padding: 2rem
                +mobile
                    width: 100%
                p
                    
                    color: white
                    line-height: 23px
                    font-size: 18px

        
        
.watch-more-sermons
    padding: 5rem 0rem 5rem 2rem
    .watch-more-heading
        font-family: $family-heading
        font-size: 5rem
        text-transform: uppercase
        margin: 4rem 0
        line-height: 0.85
        text-align: center
        +mobile
            font-size: 3rem
